#body {
  background-color: #477148;
}

.box {
  margin: 10px;
  border: 1px solid black;
}

.playing-card-body {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fbfbf8;
  max-width: 300px !important;
}

.card-image {
  width: 150px;
  height: 150px;
}

.lg-suit-svg {
  max-height: 35px;
  max-width: 35px;
}

.sm-suit-svg {
  max-height: 25px;
  max-width: 25px;
}

.flipped-card-half {
  transform: rotate(-180deg);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
